<h1>Welcome to our booking page</h1>
<%#= link_to 'Create New Booking',new_booking_path %>



<h1>List of bookings</h1>

 <%= link_to 'Create New Booking',new_booking_path %></div>
	<table >
	<thead>
		<tr>
			<th>start_date</th>
			<th>end_date</th>
			
			<th >Price</th>
			
		</tr>
	</thead>
	<tbody>
	<% @bookings.each do |booking|%>
		<tr>

			<td><%=booking.start_date%></td>
			<td><%=booking.end_date%></td>
			<td><%=booking.price%></td>

			<td><%= link_to 'Show',booking_path(booking.id)%></td>
			<td><%= link_to 'Edit',edit_booking_path(booking.id)%>&nbsp;</td>
			<td><%= link_to 'Delete',booking_path(booking.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></td>
		</tr>
		
	<%end%>

	</tbody>
	</table>

