<h1>Showing Booking</h1>


<p><strong>startDate: </strong><%= @booking.start_date %></p>
<p><strong>endDate: </strong><%= @booking.end_date%></p>
<p><strong>Price: </strong><%= @booking.price %></p>


<%= link_to 'edit booking',edit_booking_path%><br>
<%= button_to 'destroy booking',booking_path, method: :delete%>
